<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/CSS') %>

<style>
    * { 
        font-family:serif droid; 
    }
    
    * {
        color:gray ;
    }
    
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    
    </style>
<br>
<body>
    
		<br> 
<h1 style="text-align: center;">Page Not Found</h1>

<img class="center" src="https://imgs.search.brave.com/H_IgxBZyMlM_JVTcMrPAm4FB4LPoHRGXnjm1Y1B0fhY/rs:fit:256:200:1/g:ce/aHR0cDovL21lZGlh/LmdpcGh5LmNvbS9t/ZWRpYS94VGlUbm00/a1R5c25Id0dsZVUv/Z2lwaHkuZ2lm.gif">


</body>
<%- include('../partials/footer') %>