<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/CSS') %>


<style>
* { 
	font-family:serif droid; 
}

* {
	color:gray ;
}



</style>
	
	<body>
		<br>

		<div class="container">
	<p>It’s different from standard video gaming in that esports is competitive (human-vs-human) and usually has an engaging spectator element to it, like traditional sports.

		Esports tournaments usually consist of amateur or professional gamers competing against one another for a cash prize.
		
		For example, League of Legends pits five players against another five in a virtual battle arena to destroy each other’s base. Whereas in shooters, like Call of Duty, Overwatch and Counter-Strike, players are pit against each other in various modes to complete an objective.
		
		Think of esports as competitive video gaming where skill and professionalism is celebrated. The pro gamers who play at this level know the games inside out, much like a professional footballer or athlete would in their respective fields.
		
		Players can either play one-on-one against one another (in games like FIFA and Street Fighter), or in teams. For example, in Halo, two teams of four play off against each other, while in Overwatch, two teams of six compete. Rules and strategies can differ greatly depending on the game in question.
		
		Unlike football, where men’s and women’s football are split, esports is technically mixed, with male, female and gender non-conforming players taking part. In recent years, the rise of women players has risen and continues to rise alongside initiatives such as ‘Women in Esports’.
		
		According to data from Women in Games, it is estimated that 1 in 20 women are involved in the esports industry- and even though this number is still quite low, it is gradually on the rise. And there are many women holding various non-player positions in esports, such as casting, coaching, production and so on.
		
		As well as this, esports is also open to all, regardless of physical ability.
		
		Some of the most popular esports games include League of Legends, Counter-Strike: Global Offensive, Overwatch, Dota 2 and Call of Duty, but there are many others.
		
		Professional teams usually have coaches, analysts and managers who help to get the most out of the players and organise strategies.
		
		Some games are played on consoles like Xbox One or PS4, while others are played using PCs. Matches can be online over the internet, or at a physical event (usually grand finals) if safe to do so, over a LAN connection.
		
		Matches can be viewed by spectators at a live physical event or over the internet via streaming platforms such as Twitch, which broadcast the games in real time online.
		
		To give you an example of the scale of esports, some of the biggest tournaments offer millions of pounds in prizes. The tournaments with the biggest prize pools are the Dota 2 International with $34m and the Fortnite World Cup with $30m, as of 2019. These events are watched by millions of fans, and bring in a lot of interest into the esports scene. 
		
		Professional players, too, can expect to make a decent salary. While this can vary greatly depending on the team, the game and the player, the top pros can expect to make hundreds of thousands of dollars per year. This can come from a standard salary, as well as sponsorship deals and streaming donations.
		
		It can be a very different case for amateur players, however, who may not even have a contract. Instead they will usually aim to make money from winning low-level tournaments and taking a split of the winnings, or to play for fun.
		
		Player representation has been an ongoing topic within esports in recent years, as has regulation. Currently, the publishers and developers of each game set the rules themselves, and are responsible for ensuring integrity and handing out punishments where necessary.
		
		Overall, esports has progressed greatly in recent years, with bookmakers, TV broadcasters and big non-endemic brands like Coca Cola getting involved in the space.
		
		And the only way from here is up.</p>
		<br>
		<br>
		<br>
		
		<a href="aasdasd"><button type="button" class="btn btn-danger" >dont click This</button></a>
	
	
	</div>
	</body>

<%- include('../partials/footer') %>
