<%- include('../partials/head') %>
<%- include('../partials/header home') %>
<%- include('../partials/CSS') %>


<style>
* { 
	font-family:serif droid; 
}

* {
	color:whitesmoke ;
}

body {
  background-image: url('https://imgs.search.brave.com/5HC1NbD7CMzDeNGYXFTQihcg_-uvHcpJka02dzWQcps/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly92ZW50/dXJlYmVhdC5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMTgv/MDIvZXNwb3J0cy5q/cGc_Zml0PTM1MDAl/MkMyMzE3JnN0cmlw/PWFsbA');
	
}

h1 {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  box-decoration-break: clone ;
  line-height: 1.5;
}

</style>
	
	<body>
		<
		<br>
		<div class="container">
		<h1 class>Welcome to the home Of Esports</h1></div>


	


		
	</body>

<%- include('../partials/footer') %>
