<%- include('../partials/head') %>
<%- include('../partials/header') %>


<style>
* { 
	font-family:serif droid; 
}

* {
	color:gray ;
}


</style>
	
	<body>
	
	</body>

<%- include('../partials/footer') %>
